<%= form_for(@played_hole) do |f| %>

  <%= f.hidden_field :round_id, value: @round_id %>
  <%= f.hidden_field :hole_id, value: @hole.id %>
  <%= f.hidden_field :hole_number, value: @hole.number %>
  <%= f.hidden_field :tee_id, value: @tee_id %>
  <%= f.hidden_field :course_id, value: @course_id %>
  <%= f.hidden_field :hole_par, value: @hole.par %>
  <%= f.hidden_field :GIR, value: 0 %>

  <% if @hole.par > 3 %>
    <%= f.label :fairway_id, "Fairway Result?" %>
    <%= f.select(:fairway_id, [['Center', 1], ['Left', 2], ['Right', 3]]) %>
  <% end %>

  <%= f.label :strokes, "How many strokes?" %>
  <%= f.select(:strokes, options_for_select(generate_strokes_array(@hole.par), selected: @hole.par)) %>

  <%= f.label :putts, "How many putts?" %>
  <%= f.select :putts, options_for_select(generate_putts_array(5), selected: 1) %>

  <br>

  <div class="row">
    <div class="span4 offset3">
      <%= f.check_box(:bunker) %>
      <%= f.label :bunker, "Went in bunker", class: "bunker_ob" %>
    </div>
    <div class="span4">
      <%= f.check_box(:OB) %>
      <%= f.label :OB, "Went O.B.", class: "bunker_ob" %>
    </div>
  </div>

  <br>

  <%= f.submit "Next Hole", class: "btn btn-large btn-success" %>

<% end %> 
