<h1><%= "Hole ##{@hole.number} - Par #{@par.par} - #{@hole.distance} yards" %></h1>

<h3>How'd you do?</h3>

<br><br>

<%= @hole.inspect %>

<%= form_for(@played_hole) do |f| %>

	<%= f.hidden_field :round_id, value: @round_id %>
	<%= f.hidden_field :hole_id, value: @hole.id %>
	<%= f.hidden_field :hole_number, value: @hole.number %>
	<%= f.hidden_field :tee_id, value: @tee_id %>
	<%= f.hidden_field :course_id, value: @course_id %>

	<% if @par.par > 3 %>
		<%= f.label :fairway_id, "Fairway Result?" %>
		<%= f.select(:fairway_id, [['Center', 0], ['Right', 1], ['Left', 2]]) %>
	<% end %>

	<%= f.label :GIR, "Green in Regulation?" %>
	<%= f.select(:GIR, [['Yes', 1], ['No', 0]]) %>

	<%= f.label :putts, "How many putts?" %>
	<%= f.select(:putts, [['0',0],['1',1],['2',2]]) %>

	<%= f.label :strokes, "How many strokes?" %>
	<%= f.select(:strokes, [['1',1],['2',2],['3',3],['4',4]]) %>

	<%= f.submit "Next Hole", class: "btn btn-large btn-success" %>

<% end %> 



<br><br><br><br>

<%= render 'form' %>

<%= link_to 'Back', played_holes_path %>
