<h1>New Round</h1>
<h3 class="center"><%= @course.name %></h3>

<br><br>

<div class="row">
	<div class="span12">
		<%= form_for(@round) do |f| %>

			<%= f.hidden_field :course_id, value: @course.id %>
			<%= f.hidden_field :user_handicap_id, value: @user_handicap_id %>

			<%= f.label :tee_id, "Tees" %>
			<%= f.select(:tee_id, @tees) %>

			<%= f.label :time_of_day_id, "Tee Time" %>
			<%= f.select(:time_of_day_id, @times_of_day) %>

			<%= f.label :starting_hole, "Starting Hole" %>
			<%= f.select(:starting_hole, generate_starting_hole_array()) %>

			<%= f.label :date_played, "Date Played" %>
			<%= f.text_field :date_played, class: "datepicker", value: DateTime.now.strftime('%m/%d/%Y') %>

			<%= f.submit "Begin Round", class: "btn btn-large btn-success" %>

		<% end %>
	</div>
</div>


<br><br><br><br><br>

<h5>The Course:</h5> <%= @course.inspect %><br>
<h5>The Round:</h5> <%= @round.inspect %><br>
<br>
<b>Today's Date & Time:</b> <%= Time.new %><br>

<b>Time of Round:</b> <% x = rand(3) %>
<% if x % 3 == 0  %>

	<%= "Morning" %>

<% elsif x % 3 == 1 %>

	<%= "Afternoon" %>

<% else %>

	<%= "Twilight" %>

<% end %><br>

<!--  -->
<b>Estimated Holes:</b> <% x = rand(3) %>
<% if x % 3 == 0  %>

	<%= "18" %>

<% elsif x % 3 == 1 %>

	<%= "Front 9" %>

<% else %>

	<%= "Back 9" %>

<% end %><br>


<b>Bag of Clubs:</b> <% x = rand(3) %>
<% if x % 3 == 0  %>

	<%= "Ping G20's" %>

<% elsif x % 3 == 1 %>

	<%= "Nike VR Pro's" %>

<% else %>

	<%= "Titleist 712's" %>

<% end %><br>
<b>Friends:</b> <% x = rand(3) %>
<% if x % 3 == 0  %>

	<%= "Jeremy, Jrob, and Jeff" %>

<% elsif x % 3 == 1  %>

	<%= "Chris, Guy, and Michael" %>

<% else %>

	<%= "Nolan, Seth, William" %>

<% end %><br>


<br>


<%= link_to 'Back', rounds_path %>
