<p id="notice"><%= notice %></p>


<h1><%= @course.name %></h1>
<% @round_score = 0 %>
<% @last_hole_played = 0 %>

<h2>Played: <b><%= @round.date_played.strftime('%a %d %b %Y') %></b><%= "  |  #{time_ago_in_words(@round.date_played.in_time_zone("Pacific Time (US & Canada)"))} ago" %></h2>


<h4>Round Summary:</h4>
<table class="table table-condensed table-bordered round_show">
	<thead>
		<tr>
			<th>Score</th>
			<th>Total Strokes</th>
			<th>Front 9</th>
			<th>Back 9</th>
			<th>Fairways Hit</th>
			<th>GIRs</th>
			<th>Putts</th>
			<th>Front 9</th>
			<th>Back 9</th>
			<th>Scrambling %</th>
			<th>Sand</th>
			<th>O.B.</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= @round_summary.score_to_par %></th>
			<th><%= @round_summary.total_strokes %></th>
			<th><%= @round_summary.front_9_strokes %></th>
			<th><%= @round_summary.back_9_strokes %></th>
			<th><%= "#{@round_summary.fairways_hit} / #{@round_summary.fairways_possible}" %></th>
			<th><%= "#{@round_summary.GIRs_hit} / #{@round_summary.GIRs_possible}" %></th>
			<th><%= @round_summary.total_putts %></th>
			<th><%= @round_summary.front_9_putts %></th>
			<th><%= @round_summary.back_9_putts %></th>
			<th><%= "#{@round_summary.scrambles_successful} / #{@round_summary.scrambles_possible}" %></th>
			<th><%= @round_summary.sand_shots %></th>
			<th><%= @round_summary.OBs %></th>
		</tr>
	</tbody>
</table>


<br>


<%= link_to "Edit Round Details", edit_round_path(@round.id), class: "btn btn-large pull-right" %>

<h4>Hole Details:</h4>

<br>

<table class="table table-condensed table-hover round_show">
	<thead>
		<tr>
			<th>Hole</th>
			<th>Distance</th>
			<th>Par</th>
			<th>Your Score</th>
			<th>Fairway</th>
			<th>GIR</th>
			<th>Putts</th>
			<th>Result</th>
			<th>Round Total</th>
		</tr>
	</thead>
	<tbody>

		<% @table_stats.each do |t| %>
		
			<% @round_score += t[5].to_i  %>
			<% if t[5].to_i > 0 %>
				<tr class="error">
			<% elsif t[5].to_i == 0 %>
				<tr class="warning">
			<% else %>
				<tr class="success">
			<% end %>

				<td><%= "Hole ##{t[0]}" %></td>
				<td><%= "#{t[1]} yds" %></td>
				<td><%= t[2] %></td>
				<td><%= t[3] %></td>
				<td><% if t[7].nil? %>
					<%= "-" %>
					<% elsif t[7] == 1 %>
					<%= "Center" %>
					<% elsif t[7] == 2 %>
					<%= "Left" %>
					<% else %>
					<%= "Right" %>
					<% end %>
				</td>
				<td><% if t[8] == 0 %>
					<%= "No" %>
					<% else %>
					<%= "Yes" %>
					<% end %>
				</td>
				<td><%= t[4] %></td>
				<td><%= generate_score_title(t[5], t[2]) %></td>
				<td><b><%= @round_score %></b></td>
			</tr>

			<% @last_hole_played = t[0].to_i %>
		<% end %>

		<% if @last_hole_played < @course.number_of_holes %>

			<tr>
				<td><%= link_to "Hole ##{@last_hole_played+1}", new_played_hole_path(round_id: @round.id, hole_number: @last_hole_played+1, tee_id: @round.tee_id, course_id: @round.course_id) %></td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td><b>-</b></td>
			</tr>

		<% end %>

	</tbody>
</table>




<br><br><br><br>

<div>  
  <button id="btnInit" >Monitor my location</button>  
  <button id="btnStop" >Stop monitoring</button>  
</div>


<!-- Test HTML5 GeoLocation API
<div id="info"></div>
<script>
    jQuery(window).ready(function(){
        jQuery("#btnInit").click(initiate_watchlocation);
        jQuery("#btnStop").click(stop_watchlocation);
    });
    var watchProcess = null;

    function initiate_watchlocation() {
    	if (watchProcess == null) {  
        	watchProcess = navigator.geolocation.watchPosition(handle_geolocation_query, handle_errors);  
    	}  
    }

    function stop_watchlocation() {
    	if (watchProcess != null)  
	    {  
	        navigator.geolocation.clearWatch(watchProcess);  
	        watchProcess = null;  
	    } 
    }

    function handle_errors(error)
    {
        switch(error.code)
        {
            case error.PERMISSION_DENIED: alert("user did not share geolocation data");
            break;
            case error.POSITION_UNAVAILABLE: alert("could not detect current position");
            break;
            case error.TIMEOUT: alert("retrieving position timedout");
            break;
            default: alert("unknown error");
            break;
        }
    }

    function handle_geolocation_query(position) {
	    var text = "Latitude: "  + position.coords.latitude  + "<br/>" +  
           "Longitude: " + position.coords.longitude + "<br/>" +  
           "Accuracy: "  + position.coords.accuracy  + "m<br/>" +  
           "Time: " + new Date(position.timestamp);  
		jQuery("#info").html(text);  
		var image_url = "http://maps.google.com/maps/api/staticmap?sensor=false&center=" + position.coords.latitude + ',' + position.coords.longitude +  
		                "&zoom=14&size=300x400&markers=color:blue|label:S|" + position.coords.latitude + ',' + position.coords.longitude;  
		jQuery("#map").remove();  
		jQuery(document.body).append(  
		    jQuery(document.createElement("img")).attr("src", image_url).attr('id','map')  
		); 
    }
</script>
-->


