<% provide(:title, @user.name) %>
<div class="row">
  <h1><%= @user.name %></h1>

<!--
  <aside class="span3">
    <section>
      <h1>
        <% # gravatar_for @user %>
        <%= @user.name.titleize %>
      </h1>
    </section>
  </aside>
  <div class="span9">
	<h2>History</h2>
-->


<div class="row">

  <% [3,4,5].each do |par| %>

  <div class="span4 by_par_module">

    <h3><%= "Par #{par}'s" %></h3>

    <% @score_counter = 0 %>
    <% @par_counter = 0 %>
    <% @putt_counter = 0 %>
    <% @putts = [] %>
    <% @strokes = [] %>
    <% @GIRs = [] %>
    <% @one_putts = 0 %>
    <% @two_putts = 0 %>
    <% @three_putts = 0 %>
    <% @birdies = 0 %>
    <% @par_scrambles_success = 0 %>
    <% @par_scrambles_fail = 0 %>
    <% @bird_to_bogey = 0 %>
    <% @drives = [] %>

    <% @played_holes.each do |arr| %>
      <% if arr[1].par == par %>
        <% @score_counter += arr[0].score_change %>
        <% @par_counter += 1 %>
        <% @putts.push(arr[0].putts) %>
        <% @strokes.push(arr[0].strokes) %>
        <% @GIRs.push(arr[0].GIR) %>
        <% if arr[0].strokes == (par - 1) %>
          <% @birdies += 1 %>
        <% end %>
        <% if arr[0].putts > 0 %>
          <% @putt_counter += 1 %>
          <% if arr[0].putts == 2 %>
            <% @two_putts += 1 %>
          <% elsif arr[0].putts >= 3 %>
            <% @three_putts += 1 %>
          <% else %>
            <% @one_putts += 1 %>
          <% end %>
        <% end %>
        <% if !arr[0].scramble.nil? %>
          <% if arr[0].scramble == 0 %>
            <% @par_scrambles_fail += 1%>
          <% elsif arr[0].scramble == 1 %> 
            <% @par_scrambles_success += 1%>
          <% end %>
        <% end %>
        <% if arr[0].strokes > par and arr[0].GIR == 1 %>
          <% @bird_to_bogey += 1 %>
        <% end %>
        <% if arr[1].par == 4 or arr[1].par == 5 %>
          <% @drives.push(arr[0].fairway_id) %>
        <% end %>
      <% end %>
    <% end %>

    <h4><%= "Played: #{@par_counter}" %></h4>
    <h4>
      <% if @score_counter > 0 %>
        <%= "Overall Score: +#{@score_counter}" %>
      <% elsif @score_counter == 0 %>
        <%= "Overall Score: EVEN" %>
      <% else %>
        <%= "Overall Score: #{@score_counter}" %>
      <% end %>
    </h4>
    <h4><%= "GIR Average: #{number_to_percentage((@GIRs.reduce(:+).to_f / @GIRs.size) * 100, precision: 1)}" %></h4>
    <h4><%= "Stroke Avg.: #{((@strokes.reduce(:+).to_f / @strokes.size) - par).round(1)}" %></h4>
    <h4><%= "Putting Avg: #{(@putts.reduce(:+).to_f / @putts.size).round(1)}" %></h4>
    <h4><%= "Putting Avg: #{(@putts.reduce(:+).to_f / @putts.size).round(1)}" %></h4>
    <h4><%= "1 Putts: #{@one_putts}/#{@putt_counter}" %></h4>
    <h4><%= "2 Putts: #{@two_putts}/#{@putt_counter}" %></h4>
    <h4><%= "3+ Putts: #{@three_putts}/#{@putt_counter}" %></h4>
    <h4><%= "Scrambles: #{@par_scrambles_success}/#{@par_scrambles_success+@par_scrambles_fail}" %></h4>
    <h4><%= "Birdies: #{@birdies}/#{@putt_counter}" %></h4>
    <h4><%= "Bird-to-Bogey: #{@bird_to_bogey}/#{@GIRs.reduce(:+)}" %></h4>
    <%= @drives.inspect %>

  </div>

  <% end %>

</div>

<br><hr>












  <% @played_rounds.each do |played_round|  %>
  <% rs = played_round[2] %>
  <div class="span12" style="text-align:center;">
    <p class="played_round">
      <%= link_to played_round[1].name, round_path(played_round[0]) %>
    </p>  
    <p class="play_date">
      <%= "  |  #{time_ago_in_words(played_round[0].date_played.in_time_zone("Pacific Time (US & Canada)"))} ago" %>
    </p>
  </div>

  <div style="margin:2px 0 2px 0;"></div>

  <table class="table table-condensed table-bordered round_show">
    <thead>
      <tr>
        <th>Score</th>
        <th>Total Strokes</th>
        <th>Front 9</th>
        <th>Back 9</th>
        <th>Fairways Hit</th>
        <th>GIRs</th>
        <th>Putts</th>
        <th>Front 9</th>
        <th>Back 9</th>
        <th>Scrambling %</th>
        <th>Sand</th>
        <th>O.B.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <% if rs.score_to_par > 0 %>
            <%= "+#{rs.score_to_par}" %>
          <% elsif rs.score_to_par == 0 %>
            <%= "Even" %>
          <% else %>
            <%= rs.score_to_par %>
          <% end %>
        </th>
        <th><%= rs.total_strokes %></th>
        <th><%= rs.front_9_strokes %></th>
        <th><%= rs.back_9_strokes %></th>
        <th><%= "#{rs.fairways_hit} / #{rs.fairways_possible}" %></th>
        <th><%= "#{rs.GIRs_hit} / #{rs.GIRs_possible}" %></th>
        <th><%= rs.total_putts %></th>
        <th><%= rs.front_9_putts %></th>
        <th><%= rs.back_9_putts %></th>
        <th><%= "#{rs.scrambles_successful} / #{rs.scrambles_possible}" %></th>
        <th><%= rs.sand_shots %></th>
        <th><%= rs.OBs %></th>
      </tr> 
    <tbody>
  </table>
  <% end %>

</div>