<p id="notice"><%= notice %></p>


<h1><%= @state.name %></h1>

<h2 style="font-weight:bold;"><%= "#{@courses.length} Total Courses" %></h2>

<br>

<% @courses.each do |c| %>

	<div class="row">

		<div class="row10">
			<p style="text-align:center;font-size:1.8em;font-weight:bold;margin-bottom:0px;"><%= link_to(c.name, course_path(c)) %></p>
		</div>

	<br>

	</div>

<% end %>




<%= @courses_city_zip.inspect %>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
